<div class="event-map">
  <div class="events">
    <% events.each do |event| %>
        <div class="event">
          <div class="event-content">
            <div class="name"><%= event[:name] %></div>

            <div class="type">
              <%= event[:type] %>

              <% if event.key?(:date) && !event[:date].nil? %>
                <span class="date">(<%= event[:date] %>)</span>
              <% end %>
            </div>

            <div class="location"><%= event[:location] %></div>
          </div>
        </div>
    <% end %>
  </div>
  <div id='map' class="map"></div>
</div>
<script type="application/javascript">
    let events = [];

    // https://account.mapbox.com/access-tokens/
    let accessToken = 'pk.eyJ1Ijoicm9iZXJ0aW5ncnVtIiwiYSI6ImNrM2F3YjdudTBmMTYzY3FsMjNiaHE2dXcifQ.oEHyfM9K-rB64jg4SsvQ4A';
    let map = L.map('map').setView([10, -60], 2);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + accessToken, {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 8,
        id: 'mapbox.streets',
        accessToken: accessToken
    }).addTo(map);

    let markers = {};
    let marker;
    <% locations.each do |name, location| %>
        marker = L.marker([<%= "#{location[:lat]}, #{location[:long]}" %>]).addTo(map);

        <%
         inner_html = "<div class='events'>"
         inner_html += location_event_map[name].map do |i|
             event = events[i]
             date  = event[:date].nil? ? nil : ", #{event[:date]}"

             if event[:link].nil?
                title = event[:name]
             else
                title = "<a href='#{event[:link]}'>#{event[:name]}</a>"
             end

             "<div class='event'>" +
             "#{title} " +
             "<span class='type'>(#{event[:type]}#{date})</span>" +
             "</div>"
         end.join('')
         inner_html += '</div>'
         inner_html += "<div class='location-name'>#{name}</div>"
        %>

        marker.bindPopup("<%= inner_html %>");
        markers['<%= name %>'] = marker;
    <% end %>

    $(document).on('ready turbolinks:load', function() {
        events = $('.event');

        events.on('click', function(e) {
            let target = $(e.target);
            if (!target.hasClass('.event')) {
                target = target.parents('.event');
            }

            events.removeClass('selected');
            target.addClass('selected');

            let marker = markers[target.find('.location')[0].innerHTML];
            marker.openPopup();
            map.flyTo(marker.getLatLng(), 4)
        });

        $.each(markers, function(location_name, _object) {
            $(this).click(function () {
                let first_instance = null;
                events.removeClass('selected');

                $.each(events, function(_index, event) {
                    if ($(event).find('.location').html() === location_name) {
                        first_instance = first_instance || $(this);
                        $(this).addClass('selected');
                    }
                });

                let event_container = $('.events');
                event_container.animate(
                    { scrollTop: first_instance.position().top + event_container.scrollTop() },
                    200
                );
            });
        });
    });
</script>
