<%
  image = Struct.new(:caption, :path)
  folders = {
      Commercials:
          [image.new('Belzer', resource_url('albums/commercials/Belzer_DB_w.jpg')),
           image.new('Armature', resource_url('albums/commercials/DB_armature_w.jpg')),
           image.new('Dough Boy Board', resource_url('albums/commercials/DoughBoyBoard2_w.jpg')),
           image.new('Dough Boy Board', resource_url('albums/commercials/DoughBoyBoard_w.jpg')),
           image.new('Dough Boy Dead', resource_url('albums/commercials/DoughBoyDead_w.jpg')),
           image.new('Dough Boy Jump', resource_url('albums/commercials/DoughBoyJump_w.jpg')),
           image.new('Dough Boy Poke', resource_url('albums/commercials/DoughBoyPoke_w.jpg')),
           image.new('Dough Boy Set', resource_url('albums/commercials/DoughBoySet_w.jpg')),
           image.new('Dough Boy Yell', resource_url('albums/commercials/DoughBoyYell_w.jpg')),
           image.new('Funfetti Dough Boy', resource_url('albums/commercials/FunfetDBoy_w.jpg')),
           image.new('Orson Rat', resource_url('albums/commercials/OrsonRat_w.jpg'))],
      'Elizabeth King':
          [image.new('', resource_url('albums/Elizabeth_King_watermarked/Elizabeth01a_w2.jpg')),
           image.new('', resource_url('albums/Elizabeth_King_watermarked/Elizabeth2a_w2.jpg')),
           image.new('', resource_url('albums/Elizabeth_King_watermarked/Elizabeth03a_w2.jpg')),
           image.new('', resource_url('albums/Elizabeth_King_watermarked/Elizabeth04a_w2.jpg')),
           image.new('', resource_url('albums/Elizabeth_King_watermarked/Elizabeth05_w2.jpg'))],
      Gumby:
          [image.new('Angie', resource_url('albums/Gumby_watermarked/GumbyAngie2_w.jpg')),
           image.new('Angie 2', resource_url('albums/Gumby_watermarked/GumbyAngie_w.jpg')),
           image.new('Anthony', resource_url('albums/Gumby_watermarked/GumbyAnthony1_w.jpg')),
           image.new('Anthony 2', resource_url('albums/Gumby_watermarked/GumbyAnthony2_w.jpg')),
           image.new('Blake', resource_url('albums/Gumby_watermarked/GumbyBlake_w.jpg')),
           image.new('Blocks', resource_url('albums/Gumby_watermarked/GumbyBlocks_w.jpg')),
           image.new('Buck', resource_url('albums/Gumby_watermarked/GumbyBuck1_w.jpg')),
           image.new('Buck 2', resource_url('albums/Gumby_watermarked/GumbyBuck2_w.jpg')),
           image.new('Chris', resource_url('albums/Gumby_watermarked/GumbyChris_w.jpg')),
           image.new('Crew', resource_url('albums/Gumby_watermarked/GumbyCrew2_w.jpg')),
           image.new('Crew 2', resource_url('albums/Gumby_watermarked/GumbyCrew_w.jpg')),
           image.new('Dan', resource_url('albums/Gumby_watermarked/GumbyDan2_w.jpg')),
           image.new('Dan 2', resource_url('albums/Gumby_watermarked/GumbyDan_w.jpg')),
           image.new('Dave', resource_url('albums/Gumby_watermarked/GumbyDave_w.jpg')),
           image.new('Dave Chris', resource_url('albums/Gumby_watermarked/GumbyDaveChris2_w.jpg')),
           image.new('Dave Chris 2', resource_url('albums/Gumby_watermarked/GumbyDaveChris_w.jpg')),
           image.new('Dave Harry', resource_url('albums/Gumby_watermarked/GumbyDaveHarry_w.jpg')),
           image.new('Elephant', resource_url('albums/Gumby_watermarked/GumbyElephant_w.jpg')),
           image.new('Eric', resource_url('albums/Gumby_watermarked/GumbyEric2_w.jpg')),
           image.new('Eric 2', resource_url('albums/Gumby_watermarked/GumbyEric2a_w.jpg')),
           image.new('Eric 3', resource_url('albums/Gumby_watermarked/GumbyEric_w.jpg')),
           image.new('Family', resource_url('albums/Gumby_watermarked/GumbyFamily_w.jpg')),
           image.new('Hillary', resource_url('albums/Gumby_watermarked/GumbyHillaryMe_w.jpg')),
           image.new('Hittle', resource_url('albums/Gumby_watermarked/GumbyHittle2_w.jpg')),
           image.new('Hittle 2', resource_url('albums/Gumby_watermarked/GumbyHittle3_w.jpg')),
           image.new('Hittle 3', resource_url('albums/Gumby_watermarked/GumbyHittle_w.jpg')),
           image.new('Jim', resource_url('albums/Gumby_watermarked/GumbyJim_w.jpg')),
           image.new('Karen', resource_url('albums/Gumby_watermarked/GumbyKaren_w.jpg')),
           image.new('Maggiore', resource_url('albums/Gumby_watermarked/GumbyMaggiore2_w.jpg')),
           image.new('Maggiore 2', resource_url('albums/Gumby_watermarked/GumbyMaggiore_w.jpg')),
           image.new('Mike', resource_url('albums/Gumby_watermarked/GumbyMe2_w.jpg')),
           image.new('Mike 2', resource_url('albums/Gumby_watermarked/GumbyMe_w.jpg')),
           image.new('Minor', resource_url('albums/Gumby_watermarked/GumbyMinor_w.jpg')),
           image.new('Owen', resource_url('albums/Gumby_watermarked/GumbyOwen_w.jpg')),
           image.new('Pete', resource_url('albums/Gumby_watermarked/GumbyPeteK_w.jpg')),
           image.new('Pontac', resource_url('albums/Gumby_watermarked/GumbyPontac_w.jpg')),
           image.new('Set 1', resource_url('albums/Gumby_watermarked/GumbySet1_w.jpg')),
           image.new('Set 2', resource_url('albums/Gumby_watermarked/GumbySet2_w.jpg')),
           image.new('Set 3', resource_url('albums/Gumby_watermarked/GumbySet3_w.jpg')),
           image.new('Set 4', resource_url('albums/Gumby_watermarked/GumbySet4_w.jpg')),
           image.new('Set 5', resource_url('albums/Gumby_watermarked/GumbySet5_w.jpg')),
           image.new('Set 6', resource_url('albums/Gumby_watermarked/GumbySet6_w.jpg')),
           image.new('Set 7', resource_url('albums/Gumby_watermarked/GumbySet7_w.jpg')),
           image.new('Steve', resource_url('albums/Gumby_watermarked/GumbySteve_w.jpg')),
           image.new('Steve M', resource_url('albums/Gumby_watermarked/GumbySteveM_w.jpg')),
           image.new('Take 1', resource_url('albums/Gumby_watermarked/GumbyTake1_w.jpg')),
           image.new('Take 2', resource_url('albums/Gumby_watermarked/GumbyTake2_w.jpg')),
           image.new('Zim', resource_url('albums/Gumby_watermarked/GumbyZim_w.jpg'))],
      'James and the Giant Peach':
          [image.new('Centipede and Worm', resource_url('albums/James_and_the_Giant_Peach_watermarked/CentandWorm_w2.jpg')),
           image.new('Grasshopper Centipede Fight', resource_url('albums/James_and_the_Giant_Peach_watermarked/GrasCentFight_w2.jpg')),
           image.new('Seagulls', resource_url('albums/James_and_the_Giant_Peach_watermarked/GullsRig_w2.jpg')),
           image.new('Big Peach', resource_url('albums/James_and_the_Giant_Peach_watermarked/JamesBigPeach_w2.jpg')),
           image.new('James and Seagulls', resource_url('albums/James_and_the_Giant_Peach_watermarked/JamesGuls_w2.jpg')),
           image.new('Mike', resource_url('albums/James_and_the_Giant_Peach_watermarked/MeBigPeach_w2.jpg')),
           image.new('Page Gauge', resource_url('albums/James_and_the_Giant_Peach_watermarked/PageGauge_w2.jpg')),
           image.new('Peach Chair', resource_url('albums/James_and_the_Giant_Peach_watermarked/PeachChair_w2.jpg')),
           image.new('Peach Chair 2', resource_url('albums/James_and_the_Giant_Peach_watermarked/PeachChairWide_w2.jpg')),
           image.new('Peach Seagulls', resource_url('albums/James_and_the_Giant_Peach_watermarked/PeachGulls2_w2.jpg')),
           image.new('Peach Seagulls 2', resource_url('albums/James_and_the_Giant_Peach_watermarked/PeachGulls_w2.jpg'))],
      'Movie Posters':
          [image.new('', resource_url('albums/Movie Posters/2007-meet_the_robinsons-1.jpg')),
           image.new('', resource_url('albums/Movie Posters/Dinosaur_1280.jpg')),
           image.new('', resource_url('albums/Movie Posters/GumbyMovie.jpg')),
           image.new('', resource_url('albums/Movie Posters/JamesPeachPoster.jpg')),
           image.new('', resource_url('albums/Movie Posters/KangarooJack.png')),
           image.new('', resource_url('albums/Movie Posters/Nightmare-Before-Christmas-poster.jpg'))],
      Nightmare:
          [image.new('', resource_url('albums/Nightmare_watermarked/barrelDoor_me_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/Boogie8ball01_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/Boogie8ball02_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/Boogie8ball03_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/Boogie8ball04_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/Boogie8ball05_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/Boogie8ball06_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/Boogie8ball07_George_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/Boogie8ball08_George_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/Boogie8ball09_Ray_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/Boogie8ball10_Ray_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/Boogie8ball11_F_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/Boogie8ball12_F_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/Boogie8ball13_me_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/Boogie8ball14_me_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/Boogie8ball15_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/Boogie8ball16_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/boogie_santa01_ray_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/boogie_treid_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/BoogieArmature_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/BoogieBugs1_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/BoogieSet_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/boogieWheel01_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/boogieWheel02_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/boogieWheel03_Eric_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/boogieWheel04_Paul_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/boogieWheel05_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/Chris_Boogie01_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/EvilSciRemote2_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/EvilSciRemote_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/EvilSciSally_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/halloweentownMe01_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/halloweentownMe02_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/houses01_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/houses02_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/houses03_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/houses04_DaveMike_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/jackHeads_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/JackSled01_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/JackSled02_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/JackSled03_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/JackSled04_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/JackSled05_Buck_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/jackTower01_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/jackTower02_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/jackTower03_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/jackTower04_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/jackTower05_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/LDBtownhall_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/LockShock_claw_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/LSB_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/LSBtub_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/MakingChristmas01_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/Mayor&Me_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/mayor01_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/mayor02_ZimMe_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/mayor03_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/mayor04_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/mayorMouths_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/MayorStairs3_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/MayorStairsWide_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/MayStrsGang_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/NBCStepsFrnt_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/NBCStepsMed_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/NBCStepsWide_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/Oogie&Santa_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/OogieArmBugs_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/oogieDown2_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/oogieDown_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/RayChrisMike_Boogie01_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/sallyFace01_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/sallyFace02_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/sallyFaces_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/SantaFly_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/SantaFlyAlt2_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/SantaFlyMed_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/SantaFlyWide2_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/SantaFlyWide_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/SantaFlyWideMe_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/SantaHands_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/SantaHandsBS2_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/SantaHandsBS_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/tony_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/townHall2_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/townHall_Bonita01_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/townHall_Bonita02_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/townHall_Jole01_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/townHall_Jole02_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/townHall_Loyd_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/townHall_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/treehouse_trey_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/whatsThis01_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/whatsThis02_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/whatsThis03_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/whatsThis04_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/whatsThis05_sm_w.jpg')),
           image.new('', resource_url('albums/Nightmare_watermarked/whatsThis06_sm_w.jpg'))],
      'Past Events':
          [image.new('', resource_url('albums/past_events/20018nbcElCap01.jpg')),
           image.new('', resource_url('albums/past_events/20018nbcElCap02.JPG')),
           image.new('', resource_url('albums/past_events/20018nbcElCap03.jpg')),
           image.new('', resource_url('albums/past_events/20018nbcElCap04.jpg')),
           image.new('', resource_url('albums/past_events/20018nbcElCap05.jpg')),
           image.new('', resource_url('albums/past_events/20018nbcElCap06.jpg')),
           image.new('', resource_url('albums/past_events/20018nbcElCap08.jpg')),
           image.new('', resource_url('albums/past_events/20018nbcElCap10.jpg')),
           image.new('', resource_url('albums/past_events/20018nbcElCap11.jpg')),
           image.new('', resource_url('albums/past_events/20018nbcElCap12.jpg')),
           image.new('', resource_url('albums/past_events/AIE_Seattle 2019_2.jpg')),
           image.new('', resource_url('albums/past_events/AIE_Seattle_2019.jpg')),
           image.new('', resource_url('albums/past_events/AM.JPG')),
           image.new('', resource_url('albums/past_events/AM_2007.JPG')),
           image.new('', resource_url('albums/past_events/Anomalia.jpg')),
           image.new('', resource_url('albums/past_events/CaptureMexico.JPG')),
           image.new('', resource_url('albums/past_events/El_Cap_Panel_clip01_ 2007.jpg')),
           image.new('', resource_url('albums/past_events/El_Capitan_25th_Anniversary.jpg')),
           image.new('', resource_url('albums/past_events/El_Capitan_25th_Anniversary2.jpg')),
           image.new('', resource_url('albums/past_events/El_Capitan_25th_Anniversary3.JPG')),
           image.new('', resource_url('albums/past_events/elcnbc0626_small_original.jpg')),
           image.new('', resource_url('albums/past_events/Gibraltar_ComicCon.jpg')),
           image.new('', resource_url('albums/past_events/Harryhausen.jpg')),
           image.new('', resource_url('albums/past_events/MASS_MoCA.JPG')),
           image.new('', resource_url('albums/past_events/MASS_MoCA doc.JPG'))],
      Posters:
          [image.new('Bolt', resource_url('albums/posters/bolt.jpg')),
           image.new('Dinosaur', resource_url('albums/posters/dinosaur.jpg')),
           image.new('Gumby', resource_url('albums/posters/gumby.jpg')),
           image.new('James and the Giant Peach', resource_url('albums/posters/james_and_the_giant_peach.jpg')),
           image.new('The Nightmare Before Christmas', resource_url('albums/posters/nightmare.jpg')),
           image.new('Pillsbury Doughboy', resource_url('albums/posters/pillsbury.jpg')),
           image.new('Pixar', resource_url('albums/posters/pixar.jpg')),
           image.new('Meet the Robinsons', resource_url('albums/posters/robinsons.jpg'))],
      'Ralph S Mouse':
          [image.new('', resource_url('albums/Ralph_S_Mouse_watermarked/RalphWindow_w2.jpg')),
           image.new('', resource_url('albums/Ralph_S_Mouse_watermarked/RalphWorried_w2.jpg'))],
      'What Happened':
          [image.new('', resource_url('albums/what_happened/WH-film-still-1.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-2.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-3.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-4.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-5.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-6.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-7.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-8.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-9.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-10.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-11.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-12.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-13.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-14.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-15.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-16.jpeg'))]
  }
%>

<h1>Images</h1>
<% folders.each do |name, images| %>
  <div class="folder">
    <div class="title">
      <div class="preview"></div>
      <%= name %>
    </div>
    <div class="images">
      <% images.each do |image| %>
        <div class="image">
          <img src="<%= image.path %>" alt="<%= image.caption %>" />
          <div class="caption"><%= image.caption %></div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%
  Link = Struct.new(:image, :url, :text)
  links = [Link.new('links/we_know_jack.png',
                    'https://www.weknowjackshow.com/animator-mike-belzer',
                    'We Know Jack Podcast 2019'),
           Link.new('links/vcu.png',
                    'https://arts.vcu.edu/calendar/event/mike-belzer-lecture/',
                    'VCU Arts Lecture 2019'),
           Link.new('links/aie.png',
                    'https://www.youtube.com/watch?v=kEWRJZvp1CU',
                    'AIE Seattle 2019'),
           Link.new('links/Overmountain.png',
                    'https://overmountainanimation.com/judges',
                    'Overmountain Animation Film Festival 2019'),
           Link.new('links/el_capitan_25.png',
                    'https://www.youtube.com/watch?v=oG0IsVQtOIM',
                    'El Capitan 25th Anniversary talk and demo 2018'),
           Link.new('links/animation_mentor.png',
                    'http://blog.animationmentor.com/meet-mike-belzer-returning-mentor-and-valve-animator/',
                    'Animation Mentor 2018'),
           Link.new('links/mousetaligia.png',
                    'http://mousetalgia.libsyn.com/mousetalgia-episode-520-25-years-of-tim-burtons-the-nightmare-before-christmas',
                    'Mousetalgia Podcast 2018'),
           Link.new('links/moca_animation.png',
                    'https://www.facebook.com/watch/?v=10156479968773901',
                    'MASS MoCA animation with Elizabeth King sculptures 2017'),
           Link.new('links/moca_time_lapse.png',
                    'https://www.youtube.com/watch?v=0Vv20WN0dnU',
                    'MASS MoCA time lapse 2017'),
           Link.new('links/awn.png',
                    'https://www.awn.com/animationworld/advanced-art-stop-motion-animation-history-stop-motion-feature-films-part-2',
                    'AWN article 2011'),
           Link.new('links/el_capitan_panel.png',
                    'https://www.youtube.com/watch?v=B89hLR14ouY',
                    'El Capitan Panel Discussion Clip 1 2007'),
           Link.new('links/el_capitan_panel.png',
                    'https://www.youtube.com/watch?v=PoA0bDihUMI',
                    'El Capitan Panel Discussion Clip 2 2007'),
           Link.new('links/el_capitan_panel.png',
                    'https://www.youtube.com/watch?v=M4g3A-zkgx4',
                    'El Capitan Panel Discussion Clip 3 2007'),
           Link.new('links/creanimax.png',
                    'http://bobbyboom.blogspot.com/2007/10/creanimax-animation-conference-in.html',
                    'Creanimax in Mexico 2007'),
           Link.new('links/animation_mentor_newsletter.png',
                    'https://newsletters.animationmentor.com/newsletter/0407/feature_mentor.html',
                    'Animation Mentor Newsletter 2007'),
           Link.new('links/dinosaur.png',
                    'http://cinema.com/articles/174/dinosaur-production-notes.phtml',
                    'Dinosaur Production Notes 2000'),
  ]
%>
<h1>Links</h1>
<p>
  A collection of past talks, podcasts, and lectures.
</p>
<div class="links">
  <% links.each do |link| %>
    <div class="link">
      <div class="image" style="background-image: url(<%= resource_url(link.image) %>"></div>
      <a href='<%= link.url %>' target="_blank"><%= link.text %></a>
    </div>
  <% end %>
</div>
