<%
  require 'yaml'

  albums = YAML.load_file('./src/templates/data/albums.yml')
  links  = YAML.load_file('./src/templates/data/links.yml')
%>

<h1>Images</h1>
<% albums.each do |album| %>
  <div class="folder">
    <div class="title">
      <div class="preview"></div>
      <%= album['name'] %>
    </div>
    <div class="images">
      <% album['images'].each do |image| %>
        <div class="image">
          <img src="<%= resource_url(image) %>" />
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<h1>Links</h1>
<p>
  A collection of past talks, podcasts, and lectures.
</p>
<div class="links">
  <% links.each do |link| %>
    <div class="link">
      <div class="image" style="background-image: url(<%= resource_url(link['image']) %>"></div>
      <a href='<%= link['url'] %>' target="_blank"><%= link['text'] %></a>
    </div>
  <% end %>
</div>
